@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
    display: flex;
    justify-content: center;
}
html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    overflow: auto;
}

.Home {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    .videoBg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        video {
            min-width: 100%;
            min-height: 100%;
            width: auto;
            height: auto;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            object-fit: cover;
        }
    }

    .sectionText {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        display: flex;
        flex-direction: row;
        color: white;
        font-size: 2rem;
        .icon {
            z-index: 500;
            margin-top: 3rem;
            margin-left: 2rem;
            margin-right: -10rem;
            height: 10rem;
            width: 10rem;
        }
        .title {
            margin-left: 5rem;

            .btn {
                background-color: rgb(43, 70, 25, 0.7);
                margin-right: 3rem;
                padding-left: 2rem;
                margin-top: 2rem;
                margin-bottom: 2rem;
                margin-left: 5rem;
                padding-right: 2rem;
                border-radius: 7rem;
                width: 30rem;
                font-size: 2rem;
                font-weight: bolder;
               
            }
         
            .text {
                font-size: 4.5rem;
                font-weight: bolder;
                font-family: Georgia, "Times New Roman", Times, serif;

                padding: 0;
            }
            .substitle {
                font-size: 1rem;
                font-weight: 1000;
                font-family: Georgia, "Times New Roman", Times, serif;
                padding: 0;
            }

            p {
                font-size: var(--normalFontSize);
                font-weight: 500;
            }
        }
    }
}

@media screen and (max-width: 480px) {
    .Home {
        .sectionText {
            font-size: 1.5em;

            h1 {
                font-size: 1rem;
                font-weight: 900;
            }

            p {
                padding: 1rem 0;
                font-size: var(--h2FontSize);
                max-width: 70%;
                margin: auto;
            }

            .btn {
                font-size: var(--h3FontSize);
                margin: auto;
            }
        }
    }
}
@media screen and (min-width: 480px) {
    .Home {
        .sectionText {
            font-size: 1.5rem;

            h1 {
                font-size: var(--biggestFontSize);
                font-weight: 900;
            }

            p {
                padding: 1rem 0;
                font-size: var(--h2FontSize);
                max-width: 70%;
                margin: auto;
            }

            .btn {
                font-size: var(--h3FontSize);
                margin: auto;
            }
        }
    }
}

@media screen and (max-width: 769px) {
    .Home {
        .sectionText {
            h1 {
                font-size: 2rem;
                font-weight: 900;
                max-width: 70%;
                margin: auto;
            }

            p {
                font-size: var(--h2FontSize);
                max-width: 70%;
                margin: auto;
            }

            .btn {
                gap: 0.5rem;
                padding-right: 2rem;
                padding-left: 2rem;
                font-size: var(--h3FontSize);
                margin: auto;
            }
        }
    }
}

@media screen and (min-width: 769px) {
    .Home {
        .sectionText {
            width: 100%;
            h1 {
                font-size: 3rem;
                font-weight: 900;
                max-width: 70%;
                margin: auto;
            }

            p {
                padding: 1rem 0;
                font-size: var(--h2FontSize);
                max-width: 70%;
                margin: auto;
            }

            .btn {
                gap: 0.5rem;
                padding-right: 2rem;
                padding-left: 2rem;
                font-size: var(--h3FontSize);
                margin: auto;
            }
        }
    }
}

@media screen and (min-width: 1040px) {
    .Home {
        position: absolute;

        .sectionText {
            padding-right: 0rem;

            h1 {
                font-size: 4rem;
                font-weight: 900;
                max-width: 70%;
                margin: auto;
            }

            p {
                font-size: var(--h2FontSize);
                max-width: 70%;
                margin: auto;
            }
        }
    }
}
